/* flexbox */
.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* flexbox */
.main {
  display: flex;
  min-height: calc(100vh - 120px);
  flex-direction: column;
}

.App {
  background: #d500f9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #d500f9, #f50057);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #d500f9, #f50057);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: linear-gradient(45deg, #d500f9 0%, #f50057 100%);
  color: white;
}
