body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  font-family: "Livvic", sans-serif;
}

.container {
  padding: 2vw 15vw;
}

h1 {
  font-size: 50px;
}

.center {
  text-align: center;
  margin: auto;
  display: block;
}

.hoverable:hover {
  box-shadow: 0vw 0vw 4vw 0vw white;
}